<mat-nav-list>
  @for (item of items; track item) {
    <ng-container
      *ngTemplateOutlet="navItem; context: { item: item, level: 1 }"
      >
    </ng-container>
  }
</mat-nav-list>
<ng-template #navItem let-item="item" let-level="level">
  @if (!item.children?.length) {
    <a
      mat-list-item
      [routerLink]="parseRoute(item.route)"
      [activated]="isActive(item)"
      [class.active]="isActive(item)"
      (click)="onItemClick()"
      [class]="'l' + level"
      >
      <div class="menu-item">
        <ng-container
        *ngTemplateOutlet="
          itemTemplate || defaultItemTemplate;
          context: { item: item }
        "
          />
        </div>
      </a>
    }
    @if (item.children?.length) {
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header [class]="'l' + level">
          <mat-panel-title>
            <div class="menu-item">
              <ng-container
            *ngTemplateOutlet="
              itemTemplate || defaultItemTemplate;
              context: { item: item }
            "
                />
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          @for (child of item.children; track child) {
            <ng-container
              *ngTemplateOutlet="navItem; context: { item: child, level: level + 1 }"
              >
            </ng-container>
          }
        </mat-expansion-panel>
      }
    </ng-template>
    <ng-template #defaultItemTemplate let-item="item">
      <ng-container
    *ngTemplateOutlet="
      itemIconTemplate || defaultItemIconTemplate;
      context: { item: item }
    "
        />
        <ng-container
    *ngTemplateOutlet="
      itemTextTemplate || defaultItemTextTemplate;
      context: { item: item }
    "
          />
        </ng-template>
        <ng-template #defaultItemIconTemplate let-item="item">
          <mat-icon>{{ item.icon }}</mat-icon>
        </ng-template>
        <ng-template #defaultItemTextTemplate let-item="item">
          <span class="item__text">{{ item.text }}</span>
        </ng-template>
