<h2 mat-dialog-title>{{title}}</h2>
<div mat-dialog-content [innerHTML]="safeMessage" [ngStyle]="{'max-width': maxWidth?maxWidth + 'px':null}"></div>
<mat-dialog-actions align="end" class="text-right">
  @for (option of options; track option) {
    @if (!option.buttonType) {
      <button (click)="onOptionClick(option)" mat-button
      [color]="option.buttonColor">{{option.text}}</button>
    }
    @if (option.buttonType == 'normal') {
      <button (click)="onOptionClick(option)" mat-button
      [color]="option.buttonColor">{{option.text}}</button>
    }
    @if (option.buttonType == 'raised') {
      <button (click)="onOptionClick(option)" mat-raised-button
      [color]="option.buttonColor">{{option.text}}</button>
    }
    @if (option.buttonType == 'stroked') {
      <button (click)="onOptionClick(option)" mat-stroked-button
      [color]="option.buttonColor">{{option.text}}</button>
    }
  }
</mat-dialog-actions>
